body {
  line-height: 1.5;
  max-width:1000px;
 margin: 100px auto;
 padding: 60px;
font-family: 'Acme', sans-serif;
  

    background-image: url("/images/stars.jpg");

}

h1 {
  color: purple;
  padding: 20px 0px 10px 0px;
}

a {
  color: #yellow;
  text-decoration: none;

  portfolio-item {
  margin: 40px;
  padding: 60px;
  border: 2px solid black;
  background-color:  purple;
  background-color: grey;
}
